<% include partials/header %>

	 <h3>Edit Todo</h3>
<form method="POST" action="/todos/update/<%= doc._id %>">
   <div>
      <label>Todo title: </label>
      <input type="text" value="<%= doc.title %>" name="title" placeholder="Add title">
   </div>
   <div>
      <label>Todo description: </label>
      <textarea name="description" placeholder="Add description">
      <%= doc.description %> </textarea>
   </div>
   <button type="submit">Save</button>
</form>
	

<% include partials/footer %>