<% include partials/header %>
  
    <h3>Add Todo</h3>
<form method="POST" action="/todos/add">
   <div>
      <label>Todo title: </label>
      <input type="text" name="title" placeholder="Add title">
   </div>
   <div>
      <label>Todo description: </label>
      <textarea name="description" placeholder="Add description">
      </textarea>
   </div>
   <button type="submit">Submit</button>
</form>



<h3>All todos: </h3>
<ul>
	<% docs.map(function(doc){ %>
		<li>
			<%= doc.title + ' - ' + doc.description %> <a href="/todos/<%= doc._id%>"> Show </a> 
			<a href="/todos/edit/<%= doc._id%>"> Edit </a> 
			<a href="/todos/delete/<%= doc._id%>"> Delete </a> 
		</li>
	<% }); %>
</ul>

 
 <% include partials/footer %>